html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
#btnDropPanel {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#searchPanel {
  position: absolute;
  top: 20px;
  left: 50%;
  right: 50%;
  margin-left: -180px;
  margin-right: -180px;
  z-index: 5;
  background-color: transparent;
}
#leftPanel {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 100%;
  max-height: 610px;
  z-index: 5;
  background-color: #fff;
}
#addPanel {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 100%;
  
  height: 210px;
  z-index: 5;
  background-color: #fff;
}

.icon {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.icon:hover,
.icon:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

button.icon {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
table {
  width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  /*text-align: left;*/
}

tbody {
  max-height: 500px;
  overflow-y: auto;
}

thead {
  /* fallback */
}


tbody td, thead th {
}